body {
  background-image: url("crumpled.jpg");
}

/*.navbar>.container, .navbar>.container-fluid {
  margin: 0 auto;
}*/

#foot {
  background-color: #adb3b2;
  padding-top: 2%;
}

h1 {
/*  font-family: 'Londrina Outline', cursive;*/
  font-family: 'Rammetto One', cursive;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  z-index: 10;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#swatch-box {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  margin-top: 5%;
  margin-bottom: 3%;
}

#cart-container {
  margin: 0 auto;
  margin-top: 1%;
  width: 90%;
  height: 202px;
  position: relative;
}

#cart {
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  display: flex;
}

#available {
  padding-left: 1%;
  color: green;
/*  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
*/}

#show-stock {
  margin-top: 3%;
  display: flex;
}

#shop-color {
  display: table;
  margin: 0 auto;
  width: 90%;
  height: 200px;
}

#shop-color > div {
  width: 30%;
  display: table-cell;
  vertical-align: middle;
  height: 200px;
  margin: 2%;
}


h4, #color-value, #available, #alt-colors {
  font-size: 1.5em;
  line-height: 1.2em;
}

#similar.hidden {
  display: none;
  width: 20%;
  text-align: right;
}

#add {
  margin-top: 3%;
}

#mini-cart {
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*#mini-cart div {
  flex: 1;
  width: 0; 
  margin-right: 5%;
  margin-left: 5%;
}*/

.rotateOut {
  -webkit-animation-name: rotateOut;
  animation-name: rotateOut;
  animation-duration: 1s;
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  animation-duration: 0.5s;  
}

@media only screen and (max-width: 800px) {
    #shop-color {
      margin: 5%;
    }
    #shop-color > div {
      display: table-row;
      width: 100%;
    }
}

@-webkit-keyframes rotateOut {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 200deg);
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }
}

@keyframes rotateOut {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 200deg);
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
