h1 {
/*  font-family: 'Londrina Outline', cursive;*/
  font-family: 'Rammetto One', cursive;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  z-index: 2;
  vertical-align: middle;
/*  line-height: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 200px;*/
}

#swatch-box {
  width: 200px;
  height: 200px;
  border-radius: 2px;
  background-color: orange;
}

#cart-container {
  height: 300px;
  border: 1px solid black;
}

/*.default {
  z-index: -1;
}*/

